---
layout: default
---

<div id="projects">
  <div class="iso-filter-groups btn-toolbar m-b-1" role="toolbar" aria-label="Toolbar with button groups">
    <div class="iso-filter-group btn-group pull-xs-right" role="group" aria-label="First group">
      <button type="button" class="iso-filter btn btn-outline-primary active" data-filter="all">All</button>
      <button type="button" class="iso-filter btn btn-outline-primary" data-filter="shows">Shows</button>
      <button type="button" class="iso-filter btn btn-outline-primary" data-filter="videos">Videos</button>
    </div>
  </div>
  <ul class="list-unstyled iso-grid">
    <li class="iso-grid-sizer"></li>
    {% for project in site.projects %}
      {% capture thumbnail_url %}
        {% if project.youtube_id %}
          http://img.youtube.com/vi/{{ project.youtube_id }}/maxresdefault.jpg
        {% elsif project.image %}
          /images/projects/{{ project.image }}
        {% endif %}
      {% endcapture %}
      {% capture tag_classes %}
        {% for tag in project.tags %}
          tag-{{ tag | slugify }}
        {% endfor %}
      {% endcapture %}
      <li class="iso-grid-item {{ tag_classes | strip }}">
        <div class="content">
          <a href="{{ project.url }}" class="fill bg-cover" style="background-image: url('{{ thumbnail_url | strip }}')">
            {{ project.title }}
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->
