.img-slice-1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%);
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 50% 90%);
}

.img-slice-2 {
  clip-path: polygon(0 0, 90% 10%, 100% 100%, 0 100%);
  shape-outside: polygon(0 0, 90% 10%, 100% 100%, 0 100%);
}
