<div class="grid">
  <div class="grid-filter-groups btn-toolbar m-b-1" role="toolbar" aria-label="Toolbar with button groups">
    <div class="grid-filter-group btn-group pull-xs-right" role="group" aria-label="First group">
      <button type="button" class="grid-filter btn btn-outline-primary active" data-grid-filter="all">All</button>
      <button type="button" class="grid-filter btn btn-outline-primary" data-grid-filter="shows">Shows</button>
      <button type="button" class="grid-filter btn btn-outline-primary" data-grid-filter="videos">Videos</button>
    </div>
  </div>
  <ul class="list-unstyled grid-items">
    <li class="grid-item-sizer"></li>
    {% for item in include.items %}
      {% include grid-item.html item=item %}
    {% endfor %}
  </ul>
</div>
