{% assign item = include.item %}
{% capture image_url %}
  {% include item-image.txt item=item %}
{% endcapture %}
{% capture type_classes %}
  {% for type in item.types %}
    type-{{ type | slugify }}
  {% endfor %}
{% endcapture %}
{% capture size_class %}
  grid-{{ item.width | default: 1 }}-{{ item.height | default: 1 }}
{% endcapture %}
<li class="grid-item {{ size_class | strip }} {{ type_classes | strip }}">
  <div class="content">
    <a href="{{ item.url }}" class="fill bg-cover text-light overflow-hidden" style="background-image: url('{{ image_url | strip }}')">
      <div class="link-focus-show bg-dim fill p-a-1">
        <div class="vertical-center fill">
          <div class="text-xs-center">
            <h3>{{ item.title }}</h3>
            {% if item.subtitle %}
              <p>
                <em>{{ item.subtitle }}</em>
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </a>
  </div>
</li>
