#headshot-container {
  background-color: #c3cbcf;
  height: 480px;
  overflow: hidden;
}

#headshot-img {
  background-image: url('/images/headshot.png');
  height: 480px;
  width: 618px;
  shape-outside: polygon(40px 480px, 60px 320px, 240px 280px, 260px 0, 100% 0, 100% 100%);
  margin-right: -120px;
  float: right;
}
